{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des catégories
{% endblock %}

{% block body %}
    <a href="{{ path('blog_create') }}" class="btn btn-primary mt-4">CREATION D'UNE NOUVELLE CATEGORIE</a>
    <table class="table table-bordered mt-2">
        <tr>
            {% for data in colonnes %}
                <th>{{ data|upper }}</th>
            {% endfor %}
                <th>NB ARTICLE</th>
                <th>MODIF</th>
                <th>SUPP</th>
        </tr>
        
            {% for data in categories %}
                <tr>
                    <th class="text-center">{{data.id}}</th>
                    <th class="text-center">{{ data.titre }}</th>
                    <th>{{ data.description }}</th>
                    <td class="text-center">{{ data.articles|length }}</td>

                    <td>
                        <a href="{{ path('blog_edit', {'id': data.id}) }}" class="btn btn-dark">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>

                    <td>
                        <a href="{{ path('admin_article_remove', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous réellement supprimer cet article ?'));">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>

                
            {% endfor %}
        
    </table>

{% endblock %}