{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des articles
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        
        <p class="col-md-4 bg-success text-center p-3 text-white mx-auto rounded mt-4">
            {{ message }}
        </p>

    {% endfor %}

    {# <h1>Gestion des articles</h1> #}
    <a href="{{ path('blog_create') }}" class="btn btn-primary mt-4">CREATION D'UN NOUVEL ARTICLE</a>

    <table class="table table-bordered mt-2">
        <tr class="text-center">
            {% for data in colonnes %}
                <th>{{ data|upper }}</th>
            {% endfor %}
            <th>CAT</th>
            <th>NB COMMENT</th>
            <th>MODIF</th>
            <th>SUPP</th>
        </tr>

        {% for data in articles %}
            <tr>
                <td>{{ data.id }}</td>

                <td> <a href="{{ path('blog_show', {'id': data.id}) }}">{{ data.titre }}</a></td>

                <td>{{ data.contenu|striptags }}</td>
                <td><img src="{{ asset('uploads/images/' ~ data.image) }}" alt="{{ data.titre }}" class="img-article"></td>
                <td>{{ data.date|date('d/m/Y à H:i:s') }}</td>
                <td>{{ data.category.titre }}</td>
                <td>{{ data.comments|length }}</td>

                <td>
                    <a href="{{ path('blog_edit', {'id': data.id}) }}" class="btn btn-dark">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>

                <td>
                    <a href="{{ path('admin_article_remove', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous réellement supprimer cet article ?'));">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}