{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des catégories
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'danger']) %}

        {% for message in messages %}
            <p class="col-md-4 bg-{{ label }} text-center p-3 text-white mx-auto rounded mt-4">
                {{ message }}
            </p>
        {% endfor %}
    
    {% endfor %}

    <a href="{{ path('admin_new_categorie') }}" class="btn btn-primary mt-4">CREATION D'UNE NOUVELLE CATEGORIE</a>
    <table class="table table-bordered mt-2">
        <tr>
            {% for data in colonnes %}
                <th>{{ data|upper }}</th>
            {% endfor %}
                <th>NB ARTICLE</th>
                <th>MODIF</th>
                <th>SUPP</th>
        </tr>
        
            {% for data in categories %}
                <tr>
                    <td class="text-center">{{data.id}}</td>
                    <td class="text-center">{{ data.titre }}</td>
                    <td>{{ data.description }}</td>
                    <td class="text-center">{{ data.articles|length }}</td>

                    <td>
                        <a href="{{ path('admin_edit_categorie', {'id': data.id}) }}" class="btn btn-dark">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>

                    <td>
                        <a href="{{ path('admin_remove_categorie', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous réellement supprimer cette catégorie ?'));">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>

                
            {% endfor %}
        
    </table>

{% endblock %}