{% extends "base.html.twig" %}

{% block title %}
    blogSymfony | Liste des articles
{% endblock %}

{% block body %}

    {# {{ dump(articles) }} #}

    <div class="row mb-2">

        {% for OneArticle in articles %}

        {# Pour piocher dans la variable de réception oneArticle nous utilisons le '.' -> oneArticle.titre #}
            {# striptags : filtre Twig permettant de supprimer les balises html éventuellement stockés en BDD #}
            {# date() : fonction Twig permettant de formater une date et une heure #}
            {# slice() : fonction Twig permettant de couper une partie de la chaine de caractères #}

        
        {# {{ dump(OneArticle) }} #}
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ OneArticle.category.titre }}</strong>
                    <h3 class="mb-0">{{OneArticle.titre}}</h3>
                    <div class="mb-1 text-muted">Posté le {{ OneArticle.date|date('d/m/Y') }} à {{ OneArticle.date|date('H:i:s') }} </div>
                    <p class="card-text mb-auto">{{ OneArticle.contenu|striptags|slice(0,100) }}</p>
                    <a href="{{ path('blog_show',{'id': OneArticle.id}) }}" class="stretched-link">Lire la suite</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ OneArticle.image }}" alt="{{OneArticle.titre}}">
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}
