{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Nouvel article
{% endblock %}

{% block body %}


    <h1 class="display-4 fst-italic text-center">
    {% if editMode %}
        Modification de l'article
    {% else %}
        Nouvel article
    {% endif %}

    </h1>

    <div class="container">
        
        {{ form_start(formArticle, {'attr': {'class': 'col-md-7 mx-auto'}}) }}

            {{ form_row(formArticle.titre, {'label': "Titre de l\'article"}) }}

            {{ form_row(formArticle.category, {'label': "Catégorie de l\'article"}) }}

            {{ form_row(formArticle.contenu, {'attr': {'rows': 15}, 'label': "Contenu de l\'article"}) }}

            {{ form_row(formArticle.image) }}

            {% if imageArticle %}
                
                <p class="mt-2">
                    <em>Vous pouvez uploader une image si vous souhaiter la modifier</em><br>
                    <img src="{{ asset('uploads/images/' ~ imageArticle) }}" alt="">
                </p>

            {% endif %}

            <button type="submit" class="btn btn-dark">

                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Enregistrer
                {% endif %}

            </button>

        {{ form_end(formArticle) }}

    </div>

{% endblock %}